body {
  padding: 30px 75px;
  min-width: 800px;
}

.scene {
  width: 200px;
  height: 260px;
  perspective: 600px;
  margin-bottom: 100px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front {
  background-image: url(../images/yermakov.jpg);
  background-size: cover;
}

.back {
  padding: 15px;
  color: #fff;
  background: #303030;
  transform: rotateY(180deg);
}

.scene:hover .card {
  transform: rotateY(180deg);
}

/* .card.is-flipped {
  transform: rotateY(180deg);
} */

.scene-2 {
  width: 200px;
  height: 260px;
  perspective: 600px;
  margin-bottom: 100px;
}

.card-2 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.face-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front-2 {
  background-image: url(../images/yermakov.jpg);
  background-size: cover;
}

.back-2 {
  padding: 15px;
  color: #fff;
  background: #303030;
  transform: rotateY(180deg);
}

.scene-2:hover .card-2 {
  transform: translateX(-100%) rotateY(-180deg);
}

.scene-3 {
  width: 200px;
  height: 260px;
  perspective: 600px;
  margin-bottom: 100px;
}

.card-3 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.face-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front-3 {
  background-image: url(../images/yermakov.jpg);
  background-size: cover;
}

.back-3 {
  padding: 15px;
  color: #fff;
  background: #303030;
  transform: rotateX(180deg);
}

.scene-3:hover .card-3 {
  transform: translateY(-100%) rotateX(-180deg);
}

.scene-4 {
  width: 400px;
  height: 560px;
  perspective: 600px;
  margin-bottom: 100px;
}

.card-4 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.face-4 {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front-4 {
  background-image: url(../images/yermakov.jpg);
  background-size: cover;
}

.back-4 {
  padding: 15px;
  color: #fff;
  background: #303030;
  transform: rotateY(180deg);
}

.scene-4:hover .card-4 {
  transform: rotateY(180deg);
}
